* {
    margin: 0;
    padding: 0;
    font-family: Verdana, sans-serif;
}
nav {
    background-color: rgb(64,64,64);
    height: 70px; 
}
 nav ul {
    background-color: rgb(64,64,64);
    list-style: none;
    position: absolute;
    width: 100%;
}
nav > ul > li {
    width: 250px;
    float: left;
    font-size: 1.4rem;
    line-height: 70px;
    text-align: center;
    position: relative;
}
nav > ul {
    margin-left: 40px;
}
ul li {
    position: relative;
}
li:hover {
    background-color: goldenrod;
    cursor: pointer;
}
a {
    color: white;
    text-decoration: none;
}
nav li li {
    max-height: 0;
    overflow: hidden;
}
nav li:hover ul li {
    overflow: visible;
    max-height: 500px;
}