* {
    margin: 0;
    padding: 0;
    font-family: Verdana, sans-serif;
}
nav {
    background-color: rgb(17, 103, 164);
    height: 70px; 
}
 nav ul {
    background-color: rgb(17, 103, 164);
    list-style: none;
    position: absolute;
    width: 100%;
}
nav > ul > li {
    width: 250px;
    float: left;
    font-size: 1.4rem;
    line-height: 70px;
    text-align: center;
    position: relative;
}
nav > ul {
    margin-left: 40px;
}
ul li {
    position: relative;
}

li:hover {
    background-color: rgb(69, 147, 203);
    cursor: pointer;
}
a {
    color: white;
    text-decoration: none;
}
nav li li {
    max-height: 0;
    overflow: hidden;
    transition: all 1s;
}
nav li:hover > ul > li {
    overflow: visible;
    max-height: 500px;
    border: 1px solid rgb(255,255,255, .2);
    transition: all 1s;
}

nav ul ul ul {
    left: 100%;
    top: 0;
}
